.headerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  gap: 16px;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  flex: 1;
  justify-content: center;
}

.right {
  gap: 16px;
}
