@import url("../styles/reset.css");
@import url("../styles/variables.css");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}
