.loginButton {
  padding: var(--spacing-xs) var(--spacing-sm);
  background-color: transparent;
  border: 1px solid var(--color-text-light);
  border-radius: var(--border-radius-sm);
  color: var(--color-text-light);
  font-size: var(--font-size-md);
  cursor: pointer;
  transition: all 0.2s;
}

.loginButton:hover {
  background-color: var(--color-text-light);
  color: var(--color-bg-dark);
}
