.mediaList {
  display: flex;
  gap: var(--spacing-md);

  overflow-x: auto;
  overflow-y: hidden;

  padding-bottom: var(--spacing-sm);
  text-align: center;

  scroll-behavior: smooth;
}

.emptyMessage {
  color: var(--color-text-secondary);
  font-size: 1rem;
  padding: var(--spacing-md) 0;
  text-align: left;
}
