.franchisesCarouselContainer {
  overflow: hidden;
  display: block;
  width: 100%;
  background-color: #141414;
}

.franchisesCarouselInner {
  display: flex;
  gap: 50px;
  flex-wrap: nowrap;
  transform: translateX(100%);
  animation: scroll 40s linear infinite;
}

.franchisesCarouselItem {
  flex: 0 0 auto;
  text-align: center;
}

.franchisesCarouselItem img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 5px;
  background-color: #141414;
}

.franchisesCarouselItem h3 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 14px;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
