.searchBar {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm);
}

.input {
  width: 300px;
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--border-radius-sm);
  border: none;
  font-size: var(--font-size-md);
  background-color: var(--color-bg-light);
  color: var(--color-text-dark);
}

.input::placeholder {
  color: var(--color-text-light);
}

.iconButton {
  padding: var(--spacing-xs) var(--spacing-sm);
  background-color: var(--color-accent);
  color: var(--color-text-light);
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  font-size: var(--font-size-md);
  transition: background-color 0.2s;
}

.iconButton:hover {
  background-color: var(--color-accent-dark);
}

.iconButton svg {
  color: #fff;
}
