.section {
  margin-top: 3rem;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  color: black;
}

.showAll {
  font-size: 1rem;
  color: #aaa;
  transition: color 0.2s;
  display: block;
}

.showAll:hover {
  color: #fff;
}

.list {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 1rem;
  scrollbar-width: thin;
}

.list::-webkit-scrollbar {
  height: 6px;
}

.list::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}

.item {
  min-width: 200px;
  max-width: 200px;
  flex-shrink: 0;
  transition: transform 0.3s;
  color: black;
}

.item strong {
  color: black;
}

.cover {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
}
